* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    width: 98vw;
    height: 100%;
    background-color: rgb(245, 226, 209);
    margin: 0.5em auto 0;
    padding: 1em;
}
h1 {
    text-align: center;
    padding: 0.7em;
    font-size: 2.5em;
}
p {
    text-align: center;
    padding: 0.2em;
}
figure {
    width: 95vw;
    height: 50vw;
    background-color: #fff;
    margin: 1em auto;
    padding: 1em;
}
img {
    width: 80%;
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    text-align: center;
    font-size: 1.1em;
    margin-top: 0.5em;
    font-weight: 100;
}
section {
    width: 40vw;
    font-size: 0.95em;
    line-height: 1.8em;
    margin: auto;
    text-align: justify;
}
h3 {
    padding: 2em 0 !important;
    text-align: center !important;
}
ul li {
    margin-top: 1em;
}
#comment {
    margin-top: 1.3em;
    text-align: justify;
    font-style: italic;
}
footer {
    font-weight: bold;
    text-align: center;
    margin: 1em 0;
    font-size: 1.1em;
}
ul li span {
    font-weight: bold;
}